@font-face {
    font-family: 'Montserrat-Regular';
    src: url('../src/fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: 151;
    font-style: normal;
}


.TopBar{
    width: 1920px;
    height: 475px;
    background-color: black;
    display:flex;
    flex-direction:row;
}
.logo{     
    width: 229px;
    height: 64px;
    margin-top: 48px;
    margin-left: 200px;
}

.nav-link{
    width: 229px;
    height: 64px;
}

.SearchBar{
    display: flex;
    align-items: center;
    margin-top: 57px;
    margin-left: 400px;
    width: 636px;
    height: 40px;
}

.SearchBar input[type="text"] {
    flex: 1;
    padding: 8px;
    border: none;
    outline: none;
    background-color: #04594D;
}

.SearchBar button {
    background-color: #8E4042;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
}