@font-face {
    font-family: 'Montserrat-Regular.ttf';
    src: url('../src/fonts/Montserrat-Regular.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-Bold.ttf';
    src: url('../src/fonts/OpenSans-Bold.ttf') format('truetype');
    font-style: normal;
}

body {
    height: 2500px;
    overflow-y: scroll;

}

.gray-bg {
    background-color: #DCDCDC;
}

.TopBar {
    align-items: center; /* Para alinhar verticalmente os itens */
    width: 100%;
    height: 475px; /* Ajuste conforme necessário */
    background-color: black;
    padding: 0 20px;

}

.logo {
    height: 64px;

}

.logo img {
    width: 229px;
    margin-top: 5%;
    margin-left: 10%;
}

.SearchContainer {
    top: 1000px;
    display: flex; /* Para alinhar a barra de pesquisa e o botão de login horizontalmente */
    align-items: center;
    margin-left: auto; /* Isso empurra a SearchContainer para a direita */
}

.SearchBar {
    margin-left: 40%;
    display: flex;
    align-items: center;
    width: 650px;
}

.SearchBar input[type="text"] {
    flex: 1;
    padding: 8px;
    background-color: #04594D;
    font-family: 'Times New Roman', Times, serif;
}

.SearchBar button {
    background-color: #8E4042;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    transition: box-shadow 0.3s;
}

.SearchBar button:hover {}

.SearchBar button:active {
    color: darkgrey;
    background-color: crimson;
}

.LoginButton .loginBtn {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px; 

}

.NavBar {
    width: 1225px;
    height: 50px;
    position: absolute;
    margin-top: 0;
    left: 0;
    background-color: #1A1A1A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    box-sizing: border-box;
}

.NavOptions {
    display: left;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 100%;
}

.NavOptions button {
    background-color: #1A1A1A;
    color: #fff;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    box-sizing: border-box;
    height: 100%;
    font-family: 'Times New Roman', Times, serif;
}

.NavOptions button:hover {
    background-color: #04594D;
}

.weather {
    width: 23px;
    height: 19px;
}

.weather-time span {
    margin-right: 10px;
    color: #fff;
}

.MainNews {
    width: 1225px;
    height: 550px;
    position: absolute;
    top: 150px;
    left: 10%;
    background-color: white;

}

.Main {
    margin-top: 6%;
    left: 25px;
    width: 599px;
    height: 365px;
    position: absolute;
    overflow: hidden;
    border-radius: 10px;
}

.carousel-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 365px;
}

.carousel-item img {
    transition: transform 0.3s ease;
    /* Adiciona uma transição suave */
    height: 100%;
    width: auto;
    object-fit: cover;

}

.carousel-item img:hover {
    transform: scale(1.1);
    cursor: pointer;
    z-index: 1;
}

.carousel-caption {
    position: absolute;
    top: 75%;
    transform: translateY(-50%);
    pointer-events: none;
    user-select: none;
}

.carousel-caption h3 {
    font-family: 'OpenSans-Bold.ttf';
}

.carousel-caption p {
    font-family: 'OpenSans-Bold.ttf';
}

.Main2 {
    height: 276px;
    width: 576px;
    top: 9%;
    left: 53%;
    background-color: #1A1A1A;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Main2News {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.ImageContainer {
    height: 90%;
    margin-right: 10px;
    position: relative;
    margin-bottom: 0px;
    object-fit: cover;
}

.Description {
    width: 50%;
    height: 90%;
    color: #DCDCDC;
    padding: 5px;
    font-family: Georgia;
}

.ImageText {
    font-size: 20px;
    position: absolute;
    bottom: 0px;
    margin-left: 5px;
    /*transform: translateX(-50%);*/
    color: #e6e6e6;
    font-family: Georgia;
    font-weight: bold;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    pointer-events: none;
    user-select: none;
}

.ImageContainer img {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.ImageContainer img:hover {
    cursor: pointer;
    z-index: 1;
}

.LowNews {
    width: 610px;
    height: 110px;
    margin-top: 36%;
    left: 25px;
    position: absolute;
    display: flex;
    justify-items: flex-start;
    align-items: flex-start;

}

.LowNews h4 {
    font-family: 'OpenSans-Bold.ttf';
    color: crimson;
    font-weight: bold;
    text-align: left;
    margin-bottom: 10px;
    margin-top: 10px;
}

.LowNews p {
    font-family: 'OpenSans-Bold.ttf';
    font-size: 11px;
    text-align: left;
    margin: 0;
}

.image {
    height: 72px;
    width: 122px;
    margin-right: 10px;
    margin-top: 20px;
}

.Papers {
    height: 205px;
    width: 370px;
    margin-top: 27%;
    margin-left: 69%;
    background-color: #e6e6e6;
    position: absolute;
    display: flex;
    flex-direction: column;
}

.Titulo {
    flex: 0 0 40%;
    overflow: hidden;
    border-bottom: 2px solid #1A1A1A;
}

.Titulo h5 {
    font-weight: bold;
    margin-left: 10px;
}

.Titulo p {
    font-size: 15px;
    margin-left: 15px;
}

.Autor {
    font-weight: bold;
    color: #8E4042;
}

.Noticia {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.Noticia p {
    padding: 5px;
    color: #04594D;
    font-family: Georgia;
    text-indent: 20px;
}

.Clima {
    width: 180px;
    height: 205px;
    position: absolute;
    margin-top: 27%;
    left: 648px;
    display: flex;
    flex-direction: column;
    pointer-events: none;
    user-select: none;

}

.TimeContainer {
    flex: 0 0 20%;
    width: 100%;
    overflow: hidden;
    background-color: #DCDCDC;
    border-bottom: 2px solid #1A1A1A;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.TimeContainer h4 {
    font-size: 30px;
    font-family: 'OpenSans-Bold.ttf';
    margin-left: 10px;
}

.TimeContainer img {
    height: 90%;
}

.Time {
    flex: 1;
    background-color: cadetblue;
    padding: 10px;
}

.Time p {
    font-size: 15px;
    margin: 0;
    font-weight: bold;
}

.Time h5 {
    font-weight: bold;
}

/*#162E58*/

.LastNews {
    flex: 1;
}

.LastNews h1 {
    margin-top: 17%;
    margin-left: 10%;
    font-weight: bold;
    font-family: Georgia;

}

.imagemNoticia {
    margin-left: 10%;
    top: 820px;
    height: 390px;
    width: 400px;
    position: absolute;
    overflow: hidden;
    margin-bottom: 20px;
}

.imageContainer2 {
    position: relative;
}

.imagemNoticia img {
    transition: transform 0.4s;
    width: 100%;
    object-fit: cover;

}

.imagemNoticia img:hover {
    transform: scale(1.1);
    cursor: pointer;
    z-index: 1;
}

.DetalheNoticia {
    margin: 0;
    position: absolute;
    bottom: 0;
    left: 10px;
    color: #fff;
    pointer-events: none;
    padding: 10px;
    box-sizing: border-box;
}

.PapersLarge {
    max-height: 425px;
    width: 400px;
    margin-top: 29%;
    margin-left: 37%;
    background-color: #e6e6e6;
    position: absolute;
    display: flex;
    flex-direction: column;
}

.PapersTitle {
    margin-top: 10px;
    margin-left: 20px;
    flex: 0 0 25%;
    overflow: hidden;
    border-bottom: 2px solid #DCDCDC;
}

.Autor3 {
    color: #8E4042;
    font-weight: bold;
    cursor: pointer;
}

.PapersNews {
    color: #04594D;
    font-family: Georgia;
    padding: 10px;
}

.TrendPage {
    width: 500px;
    height: 1425px;
    margin-top: 0;
    margin-left: 65%;
    background-color: white;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.Trend {
    width: 100%;
    flex: 0 0 6%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #e6e6e6;
}

.Trend h2 {
    line-height: 65px;
    font-weight: bold;
    font-family: Georgia;
    margin-left: 8%;
    margin: 0 auto;

}

.Trend button {
    background-color: #1A1A1A;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    margin-right: 10%;
    border-radius: 10px;
}

.Trend button:active {
    color: darkgray;
}

.noticia2 {
    height: 270px;
    width: auto;
    border-bottom: 2px solid #DCDCDC;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin: auto;
}

.noticia2 h5 {
    margin: 0;
    margin-bottom: 10px;
    font-weight: bold;
    font-family: Georgia;
}

.descricao2 {
    font-size: 15px;
    margin: 0;
    margin-left: auto;
    margin-bottom: 10px;
    color: #04594D;
    font-family: 'OpenSans-Bold.ttf';
}

.TrendImage {
    margin-left: 10px;
    width: 40%;
    height: 70%;
    margin-right: 20px;
    cursor: pointer;
}

.descricao {
    height: 70%;
    margin-right: 10px;
    text-align: left;
}

.info {
    font-family: Georgia, 'Bold';
}

.descricao2:hover {
    text-decoration: underline;
    text-decoration-color: #04594D;
    cursor: pointer;
}

.descricao h5:hover {
    text-decoration: underline;
    text-decoration-color: #1A1A1A;
    cursor: pointer;
}

.Load {
    width: 119px;
    height: 48px;
    position: absolute;
    margin-top: 95%;
    margin-left: 45%;
    border: none;
    border-radius: 10px;
    padding: 10px;
    background-color: #04594D;
    color: white;
}

.Load:active {
    color: darkgray;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    text-align: center;
    transition: opacity 0.5s ease;
    opacity: 0;
}

footer.visible {
    opacity: 1;
}